<form id="obrazac" method="POST" action="{{ url }}/prijava">
    <label for="korime">Korisničko ime</label>
    <input name="korime" type="text" id="korime" />
    <label for="lozinka">Lozinka</label>
    <input name="lozinka" type="password" id="lozinka"/>
    <input type="submit" value="Šalji" (click)="dajUlogu(); salji()"/>
</form>
<ul>
    <li>Korisničko ime: ivan</li>
    <li>Lozinka: test</li>
    <li>Uloga: Admin</li>
    <br>
    <li>Korisničko ime: ana</li>
    <li>Lozinka: test</li>
    <li>Uloga: Korisnik</li>
</ul>