<ul>
    <li>
        <img src="../../assets/ja.jpeg" alt="ja" width="200px"><br>
    </li>
    <li>
        Hrvoje Lukšić<br>
    </li>
    <li>
        hluksic20@student.foi.hr<br>
    </li>
</ul>
<table>
    <tr><th class="naslovTablice" colspan="2">Zadaci REST - Zadaća 1</th></tr>
    <tr>
        <th>Zadatak</th>
        <th>Rješenje</th>
    </tr>
    <tr>
        <td>api/korisnici</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/korisnici/[korime]</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/korisnici/[korime]/aktivacija</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/korisnici/[korime]/prijava</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/filmovi/?stranica=broj...</td>
        <td>Riješeno sve osim sortiranja po žanru</td>
    </tr>
    <tr>
        <td>api/filmovi/[id]</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/zanr</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/zanr/[id]</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/tmdb/zanr</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>api/tmdb/filmovi/?kljucnaRijec=...</td>
        <td>Riješeno sve</td>
    </tr>
</table>

<table>
    <tr><th class="naslovTablice" colspan="2">Zadaci Aplikacija - Zadaća 1</th></tr>
    <tr>
        <th>Zadatak</th>
        <th>Rješenje</th>
    </tr>
    <tr>
        <td>Gost/Početna</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Gost/Dokumentacija</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Gost/Registracija, Prijava, Odjava</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Korisnik/Profil</td>
        <td>Podaci vidljivi, nema mijenjanja</td>
    </tr>
    <tr>
        <td>Korisnik/Filmovi pregled</td>
        <td>Vidljiv popis filmova i detalji o filmu, nema filtriranja osim imenom</td>
    </tr>
    <tr>
        <td>Korisnik/Film</td>
        <td>Riješeno sve osim galerije</td>
    </tr>
    <tr>
        <td>Korisnik/Filmovi pretraživanje</td>
        <td>Riješeno sve osim provjere da li film već postoji</td>
    </tr>
    <tr>
        <td>Korisnik/Galerija slika</td>
        <td>Nije riješeno</td>
    </tr>
    <tr>
        <td>Korisnik/Slika</td>
        <td>Nije riješeno</td>
    </tr>
    <tr>
        <td>Admin/Filmovi prijedlozi</td>
        <td>Riješeno sve osim preuzimanja postera</td>
    </tr>
    <tr>
        <td>Admin/Žanrovi</td>
        <td>Može samo dodati sve žanrove odjednom</td>
    </tr>
    <tr>
        <td>DODATNO - Admin/Korisnici</td>
        <td>Samo vidi popis korisnika</td>
    </tr>
</table>

<table>
    <tr><th class="naslovTablice" colspan="2">Zadaća 2</th></tr>
    <tr>
        <th>Zadatak</th>
        <th>Rješenje</th>
    </tr>
    <tr>
        <td>Tablica REST</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Tablica Aplikacija</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Ova tablica</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>Dodatna tablica</td>
        <td>-</td>
    </tr>
    <tr>
        <td>npm start</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>API ključevi</td>
        <td>Izbrisani</td>
    </tr>
    <tr>
        <td>REST koristi SQLite i čita port iz konf. datoteke</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>REST ima parametar za dohvat samo odobrenih ili neodobrenih filmova</td>
        <td>Riješeno sve</td>
    </tr>
    <tr>
        <td>REST ne koristi ime i lozinku nego JWT</td>
        <td>JWT se provjerava u pozadinskom dijelu web aplikacije, angular ne komunicira direktno s REST servisom, korisničko ime i lozinka se ne provjeravaju</td>
    </tr>
    <tr>
        <td>DODATNO - Prebaciti REST u TypeScript</td>
        <td>Nije riješeno</td>
    </tr>
    <tr>
        <td>Klijentski dio prebaciti u Angular</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Informacije o portovima čitaju se iz environment.ts</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Koristi se SASS</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Dodati reCaptcha v3 na prijavu, registraciju i jedan obrazac po želji</td>
        <td>Dodana na Prijavu i Registraciju</td>
    </tr>   
    <tr>
        <td>Web aplikacija poslužuje angular</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Pozadinski dio web aplikacije poslužuje dokumentaciju</td>
        <td>Ugrađena u Angular aplikaciju</td>
    </tr>
    <tr>
        <td>Pozadinski dio web aplikacije obavlja JWT, autentifikaciju i slično</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Port za aplikaciju se čita iz konf. datoteke</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>Izbaciti TOTP i aktivaciju, početni korisnici, navesti podatke</td>
        <td>Riješeno</td>
    </tr>
    <tr>
        <td>DODATNO - Prebaciti cijelu aplikaciju u TypeScript</td>
        <td>Nije riješeno</td>
    </tr>
</table>